{% load static %}

<!DOCTYPE html>
<html>
<head>
    ...
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class="top-bar">
        <button class="back-btn">←</button>
        <h3>Detalhes da Refeição</h3>
    </div>

    <div class="green-card">
        <h3>Arroz, Feijão e Frango</h3>
    </div>

    <div class="ingredients-list">
   
        <div class="ingredient-row">
            <span>Arroz</span>
            <span>150g</span>
        </div>
    
        <div class="ingredient-row">
            <span>Feijão</span>
            <span>100g</span>
        </div>

    </div>

    <script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>