{% load static %}

<!DOCTYPE html>
<html>
<head>
    ...
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px;">
    
        <div>
            <h3>Olá, Max!</h3>
            <p>Quarta-feira, 24 de junho</p>   
        </div>
    
        <div style="width:45px;height:45px;background:#1E6F34;border-radius:50%;">
      
        </div>

    </div>

    <div class="green-card">
        <p>Resumo do dia</p>

        <div class="progress-container">

            <div class="circle-progress">62%</div>

            <div>
                <h3>1.250 / 2.000 kcal</h3>
                <p>750 kcal restantes</p>
            </div>

        </div>

        <div class="macros-grid">
            <div>Proteínas<br>75g / 120g</div>
            <div>Carboidratos<br>140g / 250g</div>
            <div>Gorduras<br>35g / 60g</div>
        </div>

    </div>

    <h4>Refeições do dia</h4>

    <div class="meal-item">
        <div class="meal-info">
            <h4>Café da Manhã</h4>
            <p>08:00 • Pão integral com ovo</p>
        </div>

        <button class="btn-details">Detalhes</button>
    </div>

    <div class="bottom-nav">

        <a href="{% url 'home' %}" class="nav-item">
            <div class="nav-icon">🏠</div>
            <span>Início</span>
        </a>
 
        <a href="{% url 'planejamento' %}" class="nav-item">
            <div class="nav-icon">📅</div>
            <span>Plano</span> 
        </a>

        <a href="{% url 'compras' %}" class="nav-item">
            <div class="nav-icon">🛒</div>
            <span>Compras</span>
        </a>

        <a href="{% url 'perfil' %}" class="nav-item">
            <div class="nav-icon">👤</div>
            <span>Perfil</span>
        </a>

    </div>

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>