{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - NutriXa</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="logo-area">
        <div class="logo-circle">🍃</div>
        <div class="logo-title">NUTRIXA</div>
        <div class="logo-subtitle">Planejador de Refeições</div>
    </div>

    <h2 class="title">Login</h2>

    <div class="form-group">
        <label>Email</label>
        <input type="email" placeholder="seuemail@exemplo.com">
    </div>

    <div class="form-group">
        <label>Senha</label>
        <input type="password" placeholder="******">
    </div>

    <button class="btn-primary">Entrar</button>

    <a href="#" class="link-text">Criar conta</a>

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>